/* action */
.bx--header__action {
  width: auto;
  padding: 0 1rem;
}

.bx--header__action:hover {
  background: rgba(255, 255, 255, 0.15);
}

.bx--assistive-text,
.bx--btn.bx--btn--icon-only.bx--tooltip__trigger::before {
  visibility: hidden;
}

/* end action */

/* side nav */
.bx--side-nav--ux {
  width: 8rem;
  box-shadow: 0px 3px 8px rgb(37 42 49 / 15%);
}

.bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) {
  margin-left: 1.5rem;
}

a.bx--side-nav__link[aria-current='page'],
a.bx--side-nav__link--current {
  background-color: #F2F1EE;
}

.bx--side-nav__icon svg {
  width: 24px;
  height: 24px;
}

.app-badge-container {
  position: relative;
}

.app-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #0f62fe;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  padding-top: 3px;
}

a.bx--side-nav__link[aria-current='page']::before,
a.bx--side-nav__link--current::before {
  background-color: #0f62fe;
}

.bx--side-nav__link {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem !important;
  height: 64px;
}

/* end side nav */