@import './component/header/header.scss';
@import './component/main/main.scss';
@import './component/footer/footer.scss';
@import './component/item/item.scss';
@import './component/auth/auth.scss';

@import './content/home/home.scss';
@import './content/follow/follow.scss';


.app-flex-center {
  display: flex;
  justify-content: center;
}

.app-flex-end {
  display: flex;
  justify-content: flex-end;
}

.app-link:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}